html,body{

    direction: rtl;
    text-align: right;
}
.app-sidepanel.sidepanel-visible {
    right: 0!important;
    left:auto!important;

}
.app-sidepanel.sidepanel-hidden {
    right: -400px!important;
    left:auto!important;
}
.app-sidepanel {

  left: auto!important;
}

@media (max-width: 1199.98px){
.app-sidepanel {
    transition: all .3s ease-in-out;
    right: -400px!important;
    left:auto!important;

 }
}
.app-nav .submenu-toggle {
    transition: all .3s ease-in-out;
}

.sidepanel-close {
    display: none;
    position: absolute;
    z-index: 20;
    left: -2rem!important;
    right: auto!important;
    top: 0;
    color: #fff;
    font-size: 2rem;
}
.list-unstyled {
    padding-right: 0;}
    .app-nav .nav-icon {

        right: 1rem;
  }
  .app-nav .nav-link {

    padding-right: 3rem;
    border-right: 3px solid;}
    .app-nav .submenu-arrow {

        left: 1rem;
        right:auto!important;
    }



@media (max-width: 1199.98px){
.sidepanel-visible .sidepanel-drop {

    right: 0!important;

   }
}
.card-header {

    background-color: rgb(241 240 240 / 0%);}
    .badge {
        display: inline-block;
        padding: 0.35em 0.65em;
        font-size: 0.75em;
        font-weight: 700;
        line-height: 1;
        color: #fff;
        text-align: center;
        white-space: nowrap;
        vertical-align: baseline;
        border-radius: 0.25rem;
       }

        .badge.badge-danger{

            background-color: #dc3545;;

        }
        .badge.badge-success{

            background-color: #15a362;;

        }
